*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/sfondo\ treno.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.container{
    width: 950px;
    border: 3px solid #D2B48C;
    padding: 30px;
    background-color:rgba(255, 255, 255, 0.397);
    color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

form label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.labels{
    padding: 20px 0;
    width: calc(100% / 3);
}

.labels input, .labels select{
    padding: 5px;
    height: 30px;
    border-radius: 10px;
}
#btn, #btn-annulla{
    padding: 5px 10px;
    margin: 20px 10px;
    border: 2px solid #000;
    border-radius: 10px;
}

#btn:hover, #btn-annulla:hover{
    background-color: #fff;
}

.mioBiglietto{
    margin: 50px 0;
    display: none;
}

.mioBiglietto h3{
    padding: 20px 0;
}

table{
    padding: 20px 20px 40px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
}

table th, tbody td{
    width: calc(100% / 5);
}


tbody td{
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
}